@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is my first c# web application!</p>
<p>THIS WILL BE AWSOME!!!!!</p>
<p>Please come back when I learn MVC C#!</p>
